body {
   overflow: hidden;
   background: #fff;
}

div {
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.clock {
   position: fixed;
   aspect-ratio: 1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.clock-circle {
   background-color: #fff;
   position: absolute;
   aspect-ratio: 1;
   width: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   overflow: hidden;
   border-radius: 9999px;
}

.top {
   position: relative;
   height: 16.5%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   z-index: 1;
}

.top1,
.top2 {
   position: relative;
   width: 100%;
}

.top1 {
   background-color: #ffa086;
   height: calc(100% / 2.5);
}

.top2 {
   background-color: #ff6c00;
   height: calc(100% / 3);
}

.top3 {
   background: repeating-linear-gradient(
      90deg,
      #fff,
      #fff 4.5%,
      rgba(0, 0, 0, 0) 4.5%,
      rgba(0, 0, 0, 0) 50%
   );
   position: absolute;
   height: calc(100% / 2.5);
   width: 130%;
   top: 65%;
   margin: 0 auto;
   animation-name: top-anim;
   animation-duration: 10s;
}

.top-stripe {
   position: relative;
   top: 16.5%;
   height: 8%;
   width: 100%;
   display: flex;
   animation-name: top-stripe;
   animation-duration: 1s;
}

.left-stripe,
.right-stripe {
   background-color: black;
   position: relative;
   height: 100%;
   width: calc(100% / 17);
}

.left-stripe {
   position: relative;
   top: 0;
   animation-name: left-str;
   animation-duration: 1s;
   animation-timing-function: ease-out;
}

.right-stripe {
   position: absolute;
   bottom: 0;
   left: calc(calc(100% / 17) + calc(100% - calc(calc(100% / 17) * 2)));
   height: 25%;
   animation-name: right-str;
   animation-duration: 1s;
   animation-timing-function: ease-out;
}

.middle-stripe {
   background: repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) calc(100% / 15),
      #000 calc(100% / 15),
      #000 calc(calc(100% / 15) * 2)
   );
   position: relative;
   height: 100%;
   width: calc(100% - calc(calc(100% / 17) * 2));
}
.colorful {
   position: relative;
   top: 8%;
   width: 200%;
   height: 16.5%;
   background: repeating-linear-gradient(
      90deg,
      #13b79f,
      #13b79f calc(100% / 12),
      #fe7800 calc(100% / 12),
      #fe7800 calc(calc(100% / 12) * 2),
      #ff6493 calc(calc(100% / 12) * 2),
      #ff6493 calc(calc(100% / 12) * 3),
      #b34cfe calc(calc(100% / 12) * 3),
      #b34cfe calc(calc(100% / 12) * 4),
      #0055ff calc(calc(100% / 12) * 4),
      #0055ff calc(calc(100% / 12) * 5),
      #e8b922 calc(calc(100% / 12) * 5),
      #e8b922 calc(calc(100% / 12) * 6)
   );
   animation-name: colorful;
   animation-duration: 10s;
}

.middle {
   position: relative;
   width: 100%;
   height: 17.5%;
   top: 8%;
   overflow: hidden;
   z-index: 1;
}

.middle-wire {
   background-color: #3b3b3b;
   position: relative;
   width: 55%;
   height: 100%;
   left: 0;
   right: 0;
   margin: 0 auto;
}

.middle-wire1 {
   position: absolute;
   width: 100%;
   height: 100%;
   background: repeating-linear-gradient(
      90deg,
      #6b6b6b,
      #6b6b6b calc(100% / 255),
      rgba(0, 0, 0, 0) calc(100% / 255),
      rgba(0, 0, 0, 0) calc(calc(100% / 255) * 17)
   );
   left: 16px;
}

.middle-wire2 {
   position: absolute;
   width: 100%;
   height: 100%;
   background: repeating-linear-gradient(
      30deg,
      #6b6b6b,
      #6b6b6b calc(100% / 255),
      rgba(0, 0, 0, 0) calc(100% / 255),
      rgba(0, 0, 0, 0) calc(calc(100% / 255) * 23)
   );
}

.middle-wire3 {
   position: absolute;
   width: 100%;
   height: 100%;
   background: repeating-linear-gradient(
      -30deg,
      #6b6b6b,
      #6b6b6b calc(100% / 255),
      rgba(0, 0, 0, 0) calc(100% / 255),
      rgba(0, 0, 0, 0) calc(calc(100% / 255) * 23)
   );
}

.bottom-stripe {
   position: relative;
   width: 100%;
   height: 15%;
   top: 8%;
   left: 0;
   right: 0;
   margin: 0 auto;
   overflow: hidden;
   display: flex;
   flex-direction: row;
}

.stripe {
   position: relative;
   width: 25%;
   height: 100%;
   overflow: hidden;
}

.stripe1 {
   background-color: #666;
   position: absolute;
   width: 120%;
   height: 100%;
   background: repeating-linear-gradient(
      90deg,
      white,
      white calc(100% / 9),
      black calc(100% / 9),
      black calc(calc(100% / 9) * 1.6)
   );
   animation-name: str1;
   animation-duration: 1.8s;
}

.stripe2 {
   background-color: #666;
   position: absolute;
   width: 120%;
   height: 100%;
   background: repeating-linear-gradient(
      90deg,
      white,
      white calc(100% / 18),
      black calc(100% / 18),
      black calc(calc(100% / 18) * 1.6)
   );
   animation-name: str2;
   animation-duration: 0.9s;
}

.stripe3 {
   background-color: #666;
   position: absolute;
   width: 120%;
   height: 100%;
   background: repeating-linear-gradient(
      90deg,
      white,
      white calc(100% / 36),
      black calc(100% / 36),
      black calc(calc(100% / 36) * 2)
   );
   animation-name: str3;
   animation-duration: 0.6s;
}

.stripe4 {
   background-color: #666;
   position: absolute;
   width: 120%;
   height: 100%;
   background: repeating-linear-gradient(
      90deg,
      white,
      white calc(100% / 200),
      black calc(100% / 200),
      black calc(calc(100% / 200) * 1.9)
   );
   animation-name: str4;
   animation-duration: 0.35s;
}

.grad {
   position: relative;
   width: 100%;
   height: 7.5%;
   top: 8%;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
}

.grad div {
   position: relative;
   width: 20%;
   height: 100%;
   animation-name: grad;
   animation-duration: 2s;
}

.movebar {
   background-color: #fe9e84;
   top: 73%;
   left: 0;
   width: 30%;
   height: 6.5%;
   position: relative;
   animation-name: movebar;
   animation-duration: 2s;
}

.bottom {
   position: absolute;
   height: 12.5%;
   width: 100%;
   bottom: 0;
   overflow: hidden;
   display: flex;
   flex-direction: row;
}

.bottom-left {
   position: relative;
   height: 100%;
   width: 50%;
   background-color: #2bd6bc;
   overflow: hidden;
}

.bottom-right {
   position: relative;
   height: 100%;
   width: 50%;
   overflow: hidden;
   animation-name: bot-right;
   animation-duration: 2s;
}

.bottom-circle1 {
   position: absolute;
   height: 110%;
   width: 100%;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0);
   animation-name: bot-cir1;
   animation-duration: 2s;
}

.bottom-circle2 {
   position: absolute;
   height: 110%;
   width: 100%;
   bottom: 0;
   right: 10px;
   background-color: rgba(0, 0, 0, 0);
   animation-name: bot-cir2;
   animation-duration: 2s;
}

.bottom-circle-top,
.bottom-circle-bottom {
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: radial-gradient(#68f1ef 22.5%, transparent 22.5%),
      radial-gradient(#68f1ef 22.5%, transparent 22.5%);
   background-position-x: 0, 0;
}

.bottom-circle2 .bottom-circle-top,
.bottom-circle2 .bottom-circle-bottom {
   background-image: radial-gradient(#832dfe 22.5%, transparent 22.5%),
      radial-gradient(#832dfe 22.5%, transparent 22.5%);
}

.wave {
   background-color: white;
   position: absolute;
   height: 22%;
   width: 130%;
   rotate: 30deg;
   mask-image: url("./Datafile/Wave.svg");
   mask-repeat: repeat;
   mask-position: 0 0;
   mask-size: 15%;
   z-index: 0;
   animation-name: wave;
   animation-duration: 3s;
}

@media screen and (orientation: portrait) {
   .clock {
      width: 75%;
   }

   .bottom-circle-top,
   .bottom-circle-bottom {
      background-size: 3vw 3vw;
      background-position-y: 0, 1.5vw;
   }

   .bottom-circle-bottom {
      left: 1.5vw;
      top: 0.75vw;
   }
}

@media screen and (orientation: landscape) {
   .clock {
      height: 60%;
   }

   .bottom-circle-top,
   .bottom-circle-bottom {
      background-size: 2vh 2vh;
      background-position-y: 0, 1vh;
   }

   .bottom-circle-bottom {
      left: 1vh;
      top: 0.5vh;
   }
}

@keyframes top-anim {
   0% {
      left: 0%;
   }
   100% {
      left: 65%;
   }
}

@keyframes top-stripe {
   0% {
      left: -4%;
   }
   100% {
      left: 7.75%;
   }
}

@keyframes left-str {
   0%,
   5% {
      height: 0%;
   }
   20% {
      height: 100%;
   }
}

@keyframes right-str {
   0%,
   5% {
      height: 100%;
   }
   20%,
   100% {
      height: 0%;
   }
}

@keyframes colorful {
   0% {
      right: 0%;
   }
   100% {
      right: 100%;
   }
}

@keyframes str1 {
   0% {
      left: calc(calc(100% / 9) * -1.9);
   }
   100% {
      left: 0%;
   }
}

@keyframes str2 {
   0% {
      left: calc(calc(100% / 18) * -1.9);
   }
   100% {
      left: 0%;
   }
}

@keyframes str3 {
   0% {
      left: calc(calc(100% / 36) * -2.5);
   }
   100% {
      left: 0%;
   }
}

@keyframes str4 {
   0% {
      left: calc(calc(100% / 100) * -3);
   }
   100% {
      left: 0%;
   }
}

@keyframes grad {
   0%,
   7% {
      background-color: #fff;
   }
   43%,
   57% {
      background-color: #444;
   }
   93%,
   100% {
      background-color: #fff;
   }
}

@keyframes movebar {
   0% {
      left: 0;
      width: 30%;
   }
   12.5% {
      left: 1%;
      width: 43%;
   }
   25% {
      left: 8%;
      width: 84%;
   }
   37.5% {
      left: 53%;
      width: 45%;
   }
   50% {
      left: 70%;
      width: 30%;
   }
   62.5% {
      left: 53%;
      width: 45%;
   }
   75% {
      left: 8%;
      width: 84%;
   }
   87.5% {
      left: 1%;
      width: 43%;
   }
   100% {
      left: 0%;
      width: 30%;
   }
}

@keyframes bot-right {
   0%,
   25% {
      background-color: #2bd6bc;
   }
   35%,
   65% {
      background-color: #12bac5;
   }
   75%,
   100% {
      background-color: #2bd6bc;
   }
}

@keyframes bot-cir1 {
   0%,
   20% {
      opacity: 1;
      left: 0;
   }
   30%,
   70% {
      opacity: 0;
      left: 2%;
   }
   80%,
   100% {
      opacity: 1;
      left: 0;
   }
}

@keyframes bot-cir2 {
   0%,
   20% {
      opacity: 0;
      left: -5%;
   }
   30%,
   70% {
      opacity: 1;
      left: -3%;
   }
   80%,
   100% {
      opacity: 0;
      left: -5%;
   }
}

@keyframes wave {
   0% {
      top: 30%;
      left: -20%;
   }
   100% {
      top: 40%;
      left: -2.8%;
   }
}
