@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');

.canvas {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.vid{
    position: relative;
    width: 85%;
    height: 85%;
}

.realtime{
    color: #ffffff;
    font-family: Cabin, sans-serif;
    font-size: 9vh;
    position: absolute;
}

.version {
    color: #464646;
    font-family: Cabin, sans-serif;
    font-size: 30px;
    position: fixed;
    bottom: 0;
    margin: auto;
}